body {
    margin:0;
    padding:0;
    color:#000;
    background:rgba(157, 214, 162)
}
#geral {
    width:960px;
    margin:0 auto;
    background:rgb(157, 214, 162);
    
}
#cabecalho {
    padding:10px;
    background:rgb(157, 214, 162);
}

#rodape {
    clear:both;
    padding:10px;
    background:#ff9;
}
